.box {
    display:inline-block;
    width:30%;
    height:300px;
    overflow-y:scroll;
    margin:50px;
    border:1px solid #ccc;
    box-shadow: 5px 5px 10px #ccc;
    padding:0;
}


button {
    border-radius: 3px;
    cursor: pointer
}

button.add {
    background-color: lightgreen;
}

button.remove {
    background-color: red;
}

ul {
    margin:0;
    padding:0;
    
    li {
        list-style-type: none;
        padding:10px;
        border-bottom:1px solid lightgray;
        margin:0;

        .footer {
            text-align: right;
        }        

        span {
            display: inline-block;
            font-weight: bold;
            margin-right: 40px;
            width:40px;
        }
    }

    li:last-child {
        border: none;
    }
}