<div class="box">
  <ul>
    <li *ngFor="let data of data$ | async">
      
      <div *ngFor="let key of data.rates | objectKeys">
        {{data.base}} => {{key}} {{data.rates[key]}}
      </div>

      <div class="footer">
        <button (click)="addToFavourites(data.base)" class="add" *ngIf="type == 'LATEST'">Dodaj do ulubionych</button>
        <button (click)="removeFromFavourites(data.base)" class="remove" *ngIf="type == 'FAVOURITE'">Usuń z ulubionych</button>
      </div>
    </li>
  </ul>
</div>
